---
const { name, photo, summary } = Astro.props;
const renderInlineMarkdown = (text) =>
  text.replace(
    /\[([^\]]+)\]\(([^)]+)\)/g,
    '<a href="$2" target="_blank" rel="noreferrer">$1</a>'
  );
const summaryParagraphs = summary
  .split(/\n\s*\n/)
  .map((paragraph) => paragraph.trim())
  .filter(Boolean)
  .map((paragraph) => renderInlineMarkdown(paragraph));
---

<section id="about" class="post about">
  <div class="profile float-right">
    <img class="avatar" src={photo} alt={`Profile photo of ${name}`} />
    <p class="photo-caption">Pictured in Muscat, Omman</p>
  </div>
  <header class="post-header">
    <h1 class="post-title">{name}</h1>
    {
      summaryParagraphs.map((paragraph) => (
        <p class="about-summary" set:html={paragraph} />
      ))
    }
  </header>
  <div class="clearfix"></div>
</section>
