---
const { photo, summary } = Astro.props;
---

<section id="about" class="section about">
  <img class="avatar" src={photo} alt="Profile photo" />
  <div>
    <h2>About</h2>
    <p>{summary}</p>
  </div>
</section>
