---
const { items = [] } = Astro.props;
---

<section id="academic-services" class="section academic-services">
  <h2>📝Academic Services</h2>
  <ul class="service-list">
    {
      items.map((item) => (
        <li class="service-item">
          <span class="service-title">{item.title}:</span>
          <ul class="service-sublist">
            {
              item.items.map((entry) => (
                <li class="service-subitem">{entry}</li>
              ))
            }
          </ul>
        </li>
      ))
    }
  </ul>
</section>
