---
const { items = [] } = Astro.props;
---

<section id="academic-services" class="section academic-services">
  <h2>Academic Services</h2>
  {
    items.map((item) => (
      <p>{item}</p>
    ))
  }
</section>
