---
const { items = [] } = Astro.props;
---

<section id="education" class="section education">
  <h2>🎓Education</h2>
  <ul class="education-list">
    {
      items.map((item) => <li class="edu-item">{item}</li>)
    }
  </ul>
</section>
