---
const { name } = Astro.props;
---

<header class="site-header">
  <h1>{name}</h1>
  <nav>
    <a href="#about">Home</a>
    <a href="#biography">Biography</a>
    <a href="#education">Education</a>
    <a href="#publications">Publications</a>
    <a href="#visitors">Visitors</a>
  </nav>
</header>
