---
const { name } = Astro.props;
---

<header class="site-header">
  <h1>{name}</h1>
  <nav>
    <a href="#about">About</a>
    <a href="#education">Education</a>
    <a href="#publications">Publications</a>
    <a href="#links">Links</a>
  </nav>
</header>
