---
const { items = [] } = Astro.props;
---

<section id="honors" class="section honors">
  <h2>🏅Honors</h2>
  <ul class="honor-list">
    {
      items.map((item) => <li class="honor-item">{item}</li>)
    }
  </ul>
</section>
