---
const { items = [] } = Astro.props;
---

<section id="miscellaneous" class="section miscellaneous">
  <h2>✈️Miscellaneous</h2>
  <ul class="misc-list">
    {
      items.map((item) => <li class="misc-item">{item}</li>)
    }
  </ul>
</section>
