---
const { papers = [] } = Astro.props;
const highlightSelf = (authors) =>
  authors.replaceAll("Fangyikang Wang", "<u>Fangyikang Wang</u>");
---

<section id="publications" class="section publications">
  <h2>Publications</h2>
  <ol class="pub-list">
    {
      papers.map((paper) => (
        <li class="pub-item">
          <div class="pub-title">{paper.title}</div>
          <div class="pub-authors" set:html={highlightSelf(paper.authors)} />
          <div class="pub-venue">
            <em>{paper.venue}</em>, {paper.year}
          </div>
        </li>
      ))
    }
  </ol>
</section>
