---
const { items = [] } = Astro.props;
---

<section id="research-interests" class="section research-interests">
  <h2>Research Interests</h2>
  <ul class="interest-list">
    {
      items.map((item) => (
        <li class="interest-item">{item}</li>
      ))
    }
  </ul>
</section>
