<section id="visitors" class="section visitor">
  <h2>Visitors</h2>
  <div class="visitor-map">
    <div style="width: 100%">
      <script
        is:inline
        type="text/javascript"
        id="mapmyvisitors"
        src="//mapmyvisitors.com/map.js?d=t5IssUAiALyYTmXrkw6p-kEdePC5_ZK0s2vcte4h_BI&cl=ffffff&w=a"
      ></script>
    </div>
  </div>
</section>
