<section class="section visitor">
  <h2>Visitor Record</h2>
  <p>
    Total Visits: <span id="busuanzi_value_site_pv">-</span> |
    Unique Visitors: <span id="busuanzi_value_site_uv">-</span>
  </p>
</section>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
